@import './variables.scss';
body, html {
  padding: 0;
  margin: 0;
  overflow: auto;
  font-family: $fontFamilyTitilliumWeb;
  font-weight: 300;
  font-size: 16px;
  .v-application {
    font-family: $fontFamilyTitilliumWeb;
    font-weight: 300;
    font-size: 16px;
  }
  .cursor--pointer {
    cursor: pointer !important;
  }
  .main {
    margin: 0;
  }
}