$primary: #024f9b;
$secondary: #046cb3;
$info: #1680c2;
$warning: #f9c100;
$error: #d31419;
$success: #449935;
$green2: #00575a;
$white: #FFF;
$black: #000;
$fontFamilyRoboto: 'Roboto'; 
$fontFamilySansation: 'Sansation';
$fontFamilyTitilliumWeb: 'Titillium Web';
$bgSidenav: #2c2e3e;
$loginColor: #002635;

// Vuetify Globals
@import '~vuetify/src/styles/styles.sass';
$body-font-family: $fontFamilyTitilliumWeb;