/*
@author dbarra@agetic.gob.bo
Archivo de estilos para fuentes externas
*/
@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 300;
  src: local('Sansation'), local('Sansation_Light'), url('../fonts/sansation/Sansation_Light.ttf');
}

@font-face {
  font-family: 'TitilliumText';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium-Text-Light'), url('../fonts/titilliumtext/TitilliumText-Light.ttf');
}

@font-face {
  font-family: 'TitilliumWeb';
  src: local('Titillium-Web-Regular'), url('../fonts/TitilliumWeb/TitilliumWeb-Regular.ttf');
}