/*
@author dbarra@agetic.gob.bo
Archivo de estilos para fuentes externas
*/
@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 300;
  src: local('Sansation'), local('Sansation_Light'), url('../fonts/sansation/Sansation_Light.ttf');
}