@import './variables.scss';
body, html {
  padding: 0;
  margin: 0;
  overflow: auto;
  font-family: $fontFamilyTitilliumWeb;
  font-weight: 300;

  .cursor--pointer {
    cursor: pointer !important;
  }

  .v-card:not(.v-sheet--tile):not(.v-card--shaped) {
    border-radius: 0;
  }
  .v-application {
    th {
      white-space: nowrap;
    }
    .v-input {
      font-size: 14px;
    }
    .v-label {
      font-size: 15px;
    }
  }
}