@import './variables.scss';
body, html {
  padding: 0;
  margin: 0;
  overflow: auto;
  font-family: $fontFamilyTitilliumWeb;
  font-weight: 300;
  
  .cursor--pointer {
    cursor: pointer !important;
  }
  .v-data-table {
    font-size: 13px;
  }
  .v-card:not(.v-sheet--tile):not(.v-card--shaped) {
    border-radius: 0;
  }
}