$primary: #024f9b;
$secondary: #046cb3;
$info: #1680c2;
$warning: #f9c100;
$error: #d31419;
$success: #449935;
$white: #FFF;
$black: #000;
$fontFamilyRoboto: 'Roboto';
$fontFamilySansation: 'Sansation';
$fontFamilyTitilliumWeb: 'Titillium Web';
// Vuetify Globals
$body-font-family: $fontFamilyTitilliumWeb;