@import '../../assets/scss/variables.scss';

.app-login {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .app-login__background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../../public/img/sidebar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
    filter: blur(15px);
    transform: scale(1.1);
  }
  .app-login__primary {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: $primary, $alpha: .2);
    z-index: 2;
  }

  .app-login__container {
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20vw;
    min-width: 350px;
    height: 50vh;
    padding: 0;
    // background: linear-gradient(transparent 40%, darken($primary, $amount: 25) transparent);
    // background: rgba($color: darken($primary, 20), $alpha: .45);
    border-radius: 8px;
    overflow: hidden;

    .app-login__ciudadaniaDigital {
      width: 100%;
      height: 35vh;
      background: url('../../../public/img/ciudadaniaDigital.png') no-repeat;
      background-position: center;
      background-size: contain;
      box-shadow: none;
    }

    .app-login__boton {
      margin-top: 15px;
      font-size: 0.8rem;
      font-weight: 400;
      color: $white;
      text-align: center;
      text-decoration: none;
      outline: none;
    }
  }
}